<h2>Puppy Profiles</h2>

<h3>Penelope Anne "Penny" Riley-Scher</h3>
<p>Penny was rescued from the rough streets of downtown Los Angeles by Jimmi's Angels Animal Sanctuary. She's an energetic spazz with a love for fetch, but not the part where she brings the ball back to you... She loves lounging in the sun, soft food (kibble's for suckers), and she's still getting used to her role as a big sister.</p>

<h3>Oliver "Ollie" Rudolph</h3>
<p>Ollie spent the first three years of his life hanging out in a yard with uninterested owners. He didn't have any friends or fun. When his owners moved, they decided not to take him with them, so he was left at Animal Aid Shelter in Portland. When his new mommy rescued him, he took some time to warm up. But now he loves chasing his sister Daisy the cat, walking around the park with his tongue hanging out, and sleeping upside down in his Mom's bed.</p>
