<h2>Blog Posts</h2>
{{new-post savePost="savePost"}}
<br>
<ul>
  {{#each model as |post|}}
      <li>
        {{post.title}}
        {{update-post post=post update="update"}} <br>
      </li>
  {{/each}}
</ul>
