<h2>Blog Posts</h2>
{{new-post savePost="savePost"}}
{{#each model as |post|}}
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
  {{#link-to 'edit-post' post.id}}
    Edit Post
  {{/link-to}}
{{/each}}
