<div class="container">
  <header>
    <div class="jumbotron">
      {{#link-to 'index'}}
        <h1>Penny & Ollie's Travel Dlog</h1>
      {{/link-to}}
    </div>
  </header>

{{outlet}}
  <hr>
  <footer>
    <div class="well" id="footer">
      {{#link-to 'about'}}About{{/link-to}} ||
      {{#link-to 'contact'}}Contact{{/link-to}} ||
      {{#link-to 'admin'}}Admin{{/link-to}}
    </div>
  </footer>
</div>
