<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Penny & Ollie's Travel Dlog</h1>
    </div>
  </header>

{{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </footer>
</div>
